<html>

<head>
    <!-- // this is the global scope, so it can be made accessible to react -->
    <script type="text/javascript">
        window.initialData = <%- JSON.stringify(initialData) -%>
    </script>
</head>

<body>
    <div id="root">
        <%- initialMarkup -%>
    </div>
    <script src="/bundles/vendor.js" charset="utf-8"></script>
    <script src="/bundles/main.js" charset="utf-8"></script>

</body>

</html>